@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Modo oscuro opcional, si el grupo lo usa */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* Fuerzo blanco para que tu carrito no se vea negro feo por ahora */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}